body {
  margin: 0;
  background-color: rgb(25, 25, 25);
}

header {
  position: fixed;
  top: 12px;
  left: 24px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

header > nav > a {
  color: white;
  text-decoration: none;
}

footer > a {
  position: fixed;
  bottom: 12px;
  left: 24px;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
